.form-group {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.input-group {
	width: 100%;
	display: flex;
	align-items: center;
	background: var(--color-ui-tertiary);
	border-radius: 0.5rem;
	transition: background 0.1s ease-in-out;
}
